


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 15 1 auto;
        padding: 0.25rem;
        margin-left: 40px;
        width: 298px;
    }
}



@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 15 1 auto;
        padding: 0.25rem;
        margin-left: 50px;
        width: 211px;
    }
}

.form-check-label {
    margin-bottom: 0px;
    font-weight: 400;
}

.form-check {
    position: relative;
    display: block;
     padding-left: 0.25rem; 
}


h5.extra {
    font-weight: bold;
}