footer {
    background: #343a40;
    padding: 40px;
  }
  footer a {
    color: #f8f9fa!important
  }


  .bg-primary {
    background-color: #FFAE05!important;
}
  
.btn-primary {
  color: #fff;
  background-color: #FFAE05 !important;
  border-color: #FFAE05 !important;
}